:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 255 138 84;
  --oui-color-primary-light: 255 221 32;
  --oui-color-primary-darken: 187 142 23;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 142 78;
  --oui-color-link-light: 255 137 84;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 139 36 36;
  --oui-color-danger-light: 188 78 78;
  --oui-color-danger-darken: 102 26 26;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 90 245 188;
  --oui-color-success-darken: 0 204 140;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 223 114;
  --oui-color-warning-darken: 217 173 57;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 41 41 41;
  --oui-color-fill-active: 53 53 53;

  --oui-color-base-1: 10 10 10;
  --oui-color-base-2: 10 10 10;
  --oui-color-base-3: 10 10 10;
  --oui-color-base-4: 10 10 10;
  --oui-color-base-5: 10 10 10;
  --oui-color-base-6: 14 13 18;
  --oui-color-base-7: 10 10 10;
  --oui-color-base-8: 10 10 10;
  --oui-color-base-9: 10 10 10;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 238 202 94;
  --oui-gradient-primary-end: 218 165 32;

  --oui-gradient-secondary-start: 228 183 114;
  --oui-gradient-secondary-end: 205 127 50;

  --oui-gradient-success-start: 90 245 188;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 188 78 78;
  --oui-gradient-danger-end: 139 36 36;

  --oui-gradient-brand-start: 255 221 32;
  --oui-gradient-brand-end: 255 138 84;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 223 114;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}